<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hogwashery!</title>
</head>
<body>
	<form action="/search" method="/get">
		<input type="text" placeholder="Name of student" name="searchName">
		<button>Search</button>
	</form>
</body>

<script type="text/javascript">
	var xhr = new XMLHttpRequest();
     var url = "localhost:3000/rosterApi"
     xhr.open( "GET", billUrl );
     xhr.addEventListener( "load", function () {
          var billObjects = JSON.parse( xhr.responseText )
          console.log( "bill" + billObjects );
          var ul = document.querySelector( "ul" )
          for ( var i = 0; i < billObjects.results.length; i++ ) {
               bills.push( billObjects.results[ i ] )

          };

</script>
</html>